.mre-availabilities {
  &-container {
    @extend .container;
  }
  &-row {
    @extend .row;
  }
  &-tabs {
    @extend .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12;
    &-nav {
      @extend .nav, .nav-tabs;
      button {
        background-color: $white;
        border-radius: 0!important;
        padding: 15px 20px;
        margin: 0 2px;
        min-width: 150px;
        text-align: center;
        border: none;
        text-transform: capitalize;
      }
    }
  }
}
